@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
html {
  /* font-size: 62.5%; */
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== */
/* Var */
/* =============== */
:root {
  /* Colors */
  --primary-color: #568dca;
  --secondary-color: #36587f;
  --white: #fff;
  --dark-gray: #c3c3c3;
  --light-gray: #f4f4f4;
  --gray: gray;
  /* Padding */
  --padding-1: 1.5rem;
  --padding-2: 2.5rem;
  --padding-3: 3rem;
  --padding-4: 3.5rem;
  --padding-5: 4rem;
  /* Margin */
  --margin-1: 1rem;
  --margin-2: 2.5rem;
  --margin-3: 3rem;
  --margin-4: 3.5rem;
  --margin-5: 4rem;
  /* shadows */
  --box-shadow-1: 2px 2px 20px #568dca;
}

/* =============== */
/* Glob */
/* =============== */
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
img {
  /* width: 100%; */
  height: 100%;
}
video {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* =============== */
/* Flex */
/* =============== */
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.center-all {
  align-items: center;
  justify-content: center;
}

/* =============== */
/* Grid */
/* =============== */

/* =============== */
/* Buttons */
/* =============== */
.btn {
  background: #568dca;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 20px 0;
  display: block;
  transition: background 500ms ease-in-out;
}
.btn:hover{
  background:#36587f ;
}
/* =============== */
/*  */
/* =============== */
.cont {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.space {
  margin-left: 20px;
}
@media (max-width: 990px) {
  .btn{
    padding: 10px 20px;
    font-size: 1rem;  
  }
}

/* =============== */
/* NavBar */
/* =============== */
.navbar .cont {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.logo {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
  font-size: 1.1rem;
  color: #568dca;
  padding: 20px 20px;
  transition: all 0.5s ;
  position: relative;
}
.navbar ul li a::after{
  content: '';
  background-color: #568dca;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width:100%;
  transform: scaleX(0);
  transition: all 300ms ease-in-out;
  z-index: 1;
}
.navbar ul li a:hover::after {
  transform: scaleX(1);
}


/* .navbar ul li a::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: #568dca;
	left: 100%;
	bottom: 0;
	transition: all 0.4s ease-in-out;
}

.navbar ul li a::after:hover {
	width: 100%;
	left: 100%;
} */

.humb {
  display: none;
} 
/* .dash {
  transition: all 300ms ease-in-out;
} */
#nav{
  transition: all 500ms ease-in-out;
}
.show{
  display:none;
}

@media (max-width: 990px) {
  .navbar ul {
    display: none;
  }
  .show {
    background: #f4f4f4;
    display: flex;
    height: 100vh;
    width: 75vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    transition: all 500ms ease-in-out;
    transform-origin: right;
  }
  .humb {
    display: block;
    z-index: 100;
  }
  .show ul {
    height:70%;
    width:100%;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .show ul li a{
    font-size: 1.2rem;
    color: #568dca;
    position:relative;
    padding: 20px 20px;
  }
  .show ul li a::after{
    content: '';
    background-color: #568dca;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width:100%;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
    z-index: 1;
  }
  .show ul li a:hover::after {
    transform: scaleX(1);
  }
  /* .show {
    background: cornsilk;
    display: flex;
    height: 100vh;
    width: 60vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
  } */
  /* .not-show {
    display: none;
  } */

}



/* =============== */
/* Home */
/* =============== */
header {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.hero {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero-typo {
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
.hero h1 {
  color: #36587f;
  font-size: 2rem;
  /* margin-bottom: var(--margin-1); */
}
.hero p {
  font-size: 1.3rem;
  /* line-height: 2rem; */
  margin-right: 50px;
  max-width: 70%;
  display: block;
}
.heading {
  margin-bottom:.3rem;
}
.hero .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.right {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svgImg {
  height: 20rem;
  width: 20rem;
  transition: all 1000ms ease-in-out;

  /* position: absolute;
  left: 0; */
  /* transform: translate(-50px, -60px); */
}
.svgImg:hover{
  transform: translate(-5px, -6px); 
}
@media (max-width: 990px) {
  /* =========temp========= */

  .hero {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero .left{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
  }
  .hero-typo {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: flex-start;
    justify-content: center;
  }
  .hero h1 {
    color: #36587f;
    font-size: 1.7rem;
  }
  .hero p {
    font-size: 1rem;
    /* text-align: center; */
    margin-right: 0px;
  }
  .right {
    /* height: 20rem;
    width: 20rem;
    position: absolute;
    top: 0;
    transform: translate(-50%, 50%); */
    display: none;
  }
}


.loading{
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: rgba(86, 141, 202, 0.5);
}
